@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

 
.gradient-bg {
  /* background: rgb(232,232,255); */
  /* background: linear-gradient(144deg, rgba(232,232,255,1) 0%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 40%, rgba(255,213,239,1) 100%); */
}

* {
  outline: none;
  font-family: 'Inter', sans-serif;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 700;
}

h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 600;
}

h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 600;
}

h4 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
}

p {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

blockquote {
  margin-top: 1.5rem;
  border-left: solid 2px;
  padding-left: 1.5rem;
  font-style: italic;
}

ul {
  margin: 1.5rem 1.5rem 0 1.5rem;
  list-style-type: disc;
}

ol {
  margin: 1.5rem 1.5rem 0 1.5rem;
  list-style-type: decimal;
}

code {
  position: relative;
  border-radius: 0.25rem;
  background-color: hsl(var(--muted));
  padding: 0.2rem 0.3rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  font-weight: 600;
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--accent)
}

hr {
  margin: 1rem 0;
}

.blog-textarea {
  min-width: 40rem;
  min-height: 50vh;
}

.blog-preview {
  min-width: 40rem;
  min-height: 70vh;
  border-radius: 0.5rem;
  border: 1px solid;
  border-color: hsl(var(--accent));
}

.email-preview {
  border-left: 1px solid hsl(var(--accent-foreground));
}

